beautifulsoup4
certifi
chroma-hnswlib
chromadb
db
db-sqlite3
fastapi
gitdb
GitPython
httpx
huggingface-hub
joblib
kubernetes
langchain
langchain-chroma
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langsmith
numpy
ollama
pandas
pydantic
requests
scikit-learn
scipy
selenium
sentence-transformers
streamlit
streamlit-lottie
tokenizers
torch
tqdm
transformers
serpapi
pysqlite3