beautifulsoup4
certifi
chromadb
chroma-hnswlib
duckdb
fastapi
gitdb
GitPython
selenium
httpx
huggingface-hub
joblib
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langsmith
numpy
ollama
dotenv
pandas
pydantic
requests
scikit-learn
scipy
sentence-transformers
serpapi
streamlit
streamlit-lottie
tokenizers
torch
tqdm
transformers
docker